{% extends 'analystLayout.html' %}

{% block content %}
    <button id="testConnection" class="btn btn-sm btn-primary">Test Connection</button>
    <a href="/setupImap">Setup Imap</a>
    <button id="fetchMail" class="btn btn-sm btn-primary">Fetch Mail</button>


    <script>

        $(document).ready(async function(){
        });
        $(document).on("click", "#testConnection", async function(){
            const response = await AjaxCallWithoutParm("/testImapConnection");
            if(response["status"] == 200){
                alert("Connection established successfully");
            }
            else{
                alert("Please setup IMAP properly, connection failed");
            }
        });

    </script>
{% endblock %}