{% extends 'analystLayout.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <canvas id="barChart"></canvas>
            
        </div>
    </div>


    <script>

        $(document).ready(async function(){
            await Render_IOC_Barchart();
        });

        async function Render_IOC_Barchart(){
        const ctx = document.getElementById('barChart').getContext('2d');

        // 4. Initialize the Chart
        const myChart = new Chart(ctx, {
            type: 'bar', // Defines the chart type
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], // X-axis labels
                datasets: [{
                    label: '# of Votes', // Legend label
                    data: [12, 19, 3, 5, 2, 3], // The actual data points
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true // Ensures the Y-axis starts at 0
                    }
                }
            }
        });
        }

        async function fetch_ioc_overview(){
            const response = await AjaxCallWithoutParm("/get_ioc_overview/");
            if(response["status"] == 200){
                console.log(response["data"]);
            }
            else{
                alert("Error in fetching IOCs");
            }
        }

        $(document).on("click", "#testConnection", async function(){
            const response = await AjaxCallWithoutParm("/testImapConnection");
            if(response["status"] == 200){
                alert("Connection established successfully");
            }
            else{
                alert("Please setup IMAP properly, connection failed");
            }
        });

    </script>
{% endblock %}