{% extends 'adminLayout.html' %}
{% block content %}
    <div>
        <input type="text" id="adminUsername" placeholder="Enter username" />
        <input type="password" id="adminPwd" placeholder="Enter password" />
        <input type="text" id="adminEmail" placeholder="Enter your email" />
        {% csrf_token %}
        <button onclick="submitAdmin()">Submit</button>
    </div>

<script>
    $(document).ready(async function (){
        let adminCount = parseInt(await AjaxCallWithoutParm("/checkAdminCount")) || 0;
        if(adminCount > 0){
            alert("Already admin exists");
            window.location.href = "/";
        }
    });
    async function submitAdmin(){
        let username = $("#adminUsername").val();
        let password = $("#adminPwd").val();
        let adminEmail = $("#adminEmail").val();

        let parm = {
            username: username,
            email: adminEmail,
            password: password,
            role: 'admin'
        }

        let request = await AjaxCall("/userRegister/", parm);
        if(request == 200){
            alert("success");
            window.location.href="/"
        }
        else if(request == 405){
            alert("Admin already exists, you think you are smart huh!?")
            window.location.href="/";
        }
        else{
            alert("Failure");
        }
    }
</script>
{% endblock %}