{% extends 'adminLayout.html' %}

{% block content %}
    <input type="text" id="username" placeholder="Enter username"/>
    <input type="password" id="password" placeholder="Enter password" />
    <input type="text" id="email" placeholder="Enter email"/>
    <select id="userType">
        <option val="employee">Employee</option>
        <option val="anlayst">Analyst</option>
    </select>
    <button id="addUser">Submit</button>
<script>
    $(document).on("click", "#addUser", async function(){
        let username = $("#username").val();
        let password = $("#password").val();
        let adminEmail = $("#email").val();
        let role = $("#userType").val().toLowerCase();

        let parm = {
            username: username,
            email: adminEmail,
            password: password,
            role: role
        }

        let request = await AjaxCall("/userRegister/", parm);
        if(request == 200){
            alert("success");
            window.location.href="/"
        }
        else{
            alert("Failure");
        }
    });
</script>
{% endblock %}