<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="testConnection">Test Connection</button>
    <a href="/setupImap">Setup Imap</a>
    <button id="fetchMail">Fetch Mail</button>
    <table id="mails" style="border: 1px solid black">
        <thead>
            <th>Content</th>
        </thead>
        <tbody>
            <td></td>
        </tbody>
    </table>
</body>
</html>

{% load static %} <script src="{% static 'jquery.js' %}"></script>
{% load static %} <script src="{% static 'custom.js' %}"></script>
{% load static %} <script src="{% static 'analyst.js' %}"></script>

<script>
    $(document).on("click", "#testConnection", async function(){
        let response = await AjaxCallWithoutParm("/testImapConnection");
        if(response["status"] == 200){
            alert("Connection established successfully");
        }
        else{
            alert("Please setup IMAP properly, connection failed");
        }
    });
</script>