{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyst Layout</title>
    <link rel="stylesheet" href="{% static 'library/bootstrap.css' %}" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" >
    <link rel="stylesheet" href="{% static 'library/sidebars.css' %}" >
    <link rel="stylesheet" href="{% static 'library/toastr.css' %}" >
    <link rel="stylesheet" href="{% static 'extraFeatures.css' %}" >

    <script src="{% static 'library/jquery.js' %}"></script>
    <script src="{% static 'library/bootstrap.js' %}"></script>
    <script src="{% static 'library/echarts.min.js' %}"></script>
    <script src="{% static 'library/toastr.min.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
    <script src="{% static 'analyst.js' %}"></script>
</head>
<body class="d-flex min-vh-100">

      <div
        class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
        style="width: 280px"
      >
        <a
          href="/analystPage"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
        <span class="fs-4"><i class="bi bi-zoom-in"></i> Analyst</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="/analystPage" class="nav-link link-body-emphasis">
              <i class="bi bi-activity"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a href="/email_data" class="nav-link link-body-emphasis">
              <i class="bi bi-envelope"></i> Email Data
            </a>
          </li>
          <li>
            <a href="/analyst_ioc_investigation" class="nav-link link-body-emphasis">
              <i class="bi bi-exclamation-diamond"></i> IOC Investigation
            </a>
          </li>
          <li>
            <a href="/changeMailboxCred" class="nav-link link-body-emphasis">
              <i class="bi bi-gear"></i> Mailbox Configuration
            </a>
          </li>
          <li>
            <a href="/analyst_account_manage" class="nav-link link-body-emphasis">
              <i class="bi bi-person"></i> Account Configuration
            </a>
          </li>
        </ul>
      </div>

      <div class="flex-grow-1 p-4" style="overflow-y: auto;">
            {% block content %}
            {% endblock %}
      </div>

      {% block scripts %}
      {% endblock %}
</body>
</html>