{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyst Layout</title>
    <link rel="stylesheet" href="{% static 'library/bootstrap.css' %}" >
</head>
<body>

    <a href = "/changeCred" id="changeCredential" class="btn btn-sm btn-primary">Change Your Credentials</a>
    <a href="/changeMailboxCred" id="changeMailboxCred" class="btn btn-sm btn-primary">Change Mailbox Cred</a>

    <script src="{% static 'library/jquery.js' %}"></script>
    <script src="{% static 'library/bootstrap.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
    <script src="{% static 'analyst.js' %}"></script>
    {% block content %}
    {% endblock %}


</body>
</html>