<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label p-0">Current Username</label>
                            <input type="text" class="form-control form-control-sm" id="oldUsername" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label p-0">Current Email</label>
                            <input type = "text" class="form-control form-control-sm" id="oldEmail" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label p-0">Current Password</label>
                            <input type = "password" class="form-control form-control-sm" id="oldpassword" />
                        </div>

                        <div class="col-md-12">
                            <label class="form-label p-0">New Username</label>
                            <input type = "text" class="form-control form-control-sm" id="newUsername" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label p-0">New Email</label>
                            <input type = "text" class="form-control form-control-sm" id="newemail" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label p-0">New Password</label>
                            <input type = "password" class="form-control form-control-sm" id="newpassword" />
                        </div>
                        <div class="col-md-12 d-none">
                            <label class="form-label p-0">Role</label>
                            <select class="form-select form-select-sm" id="roleSelection">
                                <option value="employee">Employee</option>
                                <option value="analyst">Analyst</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                        <div class="col-md-12 text-end mt-3">
                            <button class="btn btn-sm btn-primary" id="updateBtn">Update</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% load static %} <script src="{% static 'library/jquery.js' %}"></script>
{% load static %} <script src="{% static 'custom.js' %}"></script>


<script>

    $(document).ready(async function(){
        await getCurrentUserInfo();
    });

    async function submitInfo(){

        const parm = {
            userId : parseInt($("#updateBtn").attr("data-id")) || 0,
            oldUsername : $("#oldUsername").val().trim(),
            oldEmail : $("#oldEmail").val().trim(),
            newUsername : $("#newUsername").val().trim(),
            oldPwd : $("#oldpassword").val().trim(),
            newPwd : $("#newpassword").val().trim(),
            role : $("#roleSelection").val().trim(),
            newEmail : $("#newemail").val().trim()
        }

        const response = await AjaxCall("/change_user_cred/", parm);
        if(response.status == 200){
            toastr.success("Credentails changed successfully!");
        }
        else{
            toastr.error(response.message);
        }
    }

    $("#updateBtn").on("click", async function(){
        await submitInfo();
    });

    async function getCurrentUserInfo(){
        const response = await AjaxCallWithoutParm("/getCurrentUserInfo/");
        $("#oldUsername").val(response.username);
        $("#oldEmail").val(response.email);
        $("#roleSelection").val(response.role);
        $("#updateBtn").attr("data-id", response.user_id);
    }
</script>