<div class="row">
    <div class="col-md-5 mt-4">
        <h5 class="display-6"><span id="greeting">Good Afternoon</span>, <span class="fw-bold" id="userName">Username</span></h5>
    </div>

    <div class="col-md-12">

    </div>

    <div class="col-md-2 mt-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <span class="display-6 bi bi-envelope text-primary"></span>
                    </div>
                    <div class="col-md-12">
                        <small class="form-label p-0">Total Email(s)</small>
                    </div>
                    <div class="col-md-12"> 
                        <span class="fw-bolder" id="emailCount"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>