{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'library/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'library/toastr.css' %}" >

    <script src="{% static 'library/jquery.js' %}"></script>
    <script src="{% static 'library/boostrap.js' %}"></script>
    <script src="{% static 'library/toastr.min.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
</head>
<body>
    <div class="row">
    <div class="card col-md-8 mx-auto mt-5 ">
        <div class="card-body">
            <h5 class="display-6 mb-4">Login</h5>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <label class="form-label p-0">Username</label>
                    <input type="text" class="form-control form-control-sm" id="adminUsername" placeholder="Enter username" />
                </div>
                <div class="col-md-12 mb-4">
                    <label class="form-label p-0">Password</label>
                    <input type="password" class="form-control form-control-sm" id="adminPwd" placeholder="Enter password" />
                </div>
                <div class="col-md-12 mb-4">
                    <label class="form-label p-0">Role</label>
                    <select id="roleSelection" class="form-select form-select-sm">
                        <option value="employee">Employee</option>
                        <option value="analyst">Analyst</option>
                        <option value="admin">Admin</option>
                    </select>
            </div>
            <div class="col-md-12 mt-4 text-center">
                <button class="btn btn-primary" onclick="submitAdmin()">Submit</button>
            </div>
        </div>
    </div>
    </div>

</body>
</html>
<script>
    $(document).ready(async function (){
        let adminCount = parseInt(await AjaxCallWithoutParm("/checkAdminCount")) || 0;
        if(adminCount <= 0){
            alert("No admin currently exists");
            window.location.href = "/adminSignup";
        }
        
        setCookie("csrftoken", "crsftoken");
        await AjaxCallWithoutParm("/analyze_email/");
    });
    async function submitAdmin(){
        let username = $("#adminUsername").val();
        let password = $("#adminPwd").val();
        let role = $("#roleSelection").val().toLowerCase();

        let parm = {
            username: username,
            password: password,
            role: role
        }

        let request = await AjaxCall("/userLogin/", parm);
        toastr.info(request.message);
        if(request.status == 200){
            if(role == "employee"){
                window.location.href="/employeePage";
            }
            else if(role == "admin"){
                window.location.href = "/userList";
            }
            else{
                window.location.href = "/analystPage";
            }
        }
    }


    function setCookie(name, value, days = 7){
        const maxDays = days * 24 * 60 * 60; // convert to seconds
        document.cookie = `${name}=${value}; max-age=${maxDays}; path=/`;
    }
</script>